@use '../base/colors';

// https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/

// General button style
// To be used as style for many of the link
.button {
    background-color: colors.$ac-color-2;
    padding: 5px;
    color: black;
    font-size: 1.1rem;

    border: 3px solid black;
    box-shadow: 4px 4px 0 0 black;

    font-family: 'Righteous', sans-serif;
    text-decoration: none;

    min-height: 38px;
    min-width: 38px;

    margin: 10px;

    display: grid;
    place-content: center;

    &:hover,
    &:focus {
        cursor: pointer;
        background-color: colors.$ac-color-1;
        color: black;
        position: relative;
        box-shadow: 2px 2px 0 0 black;
        top: 2px;
        left: 2px;
        text-decoration: underline  ;
    }           
}