.recipes__header {
    margin: 5vh;
    font-size: 2.2rem;
}

.recipes__lunch,
.recipes__dinner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
    margin-bottom: 15vh;
}

.recipe {

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        margin: 10px;
    }

    th,
    td {
        padding: 10px;
    }

    &>* {
        margin-inline: 10vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.recipe__image {
    width: 100vw;
    height: 20vh;
    object-fit: cover;
}

.recipe__video {
    width: min(100vw, 800px);
}


// Individual recipe styles

.lunch__recipe1 {
    table {
        margin-bottom: 10vh;
    }
}

.recipe__media__controls {
    display: flex;
    flex-direction: column;
}

.lunch__recipe1,
.lunch__recipe2 {
    h1,
    p {
        align-self: flex-start;
    }

    & > * {
        margin-bottom: 4vh;
    }
}

.dinner__recipe2 {
    display: flex;
    flex-direction: column;

    h1, h2, p {
        align-self: flex-start;
    }

    h1, h2, img {
        margin-bottom: 2vh;
    }

    p {
        margin-bottom: 6vh;
    }

    li {
        max-width: 50ch;
        margin-bottom: 2vh;
    }
}

.recipe__transcriptions {

    display: none;

    & > * {
        max-width: 45ch;
        margin-bottom: 3vh;
    }
}

@media screen and (min-width: 530px) {
    .recipe__media__controls {
        flex-direction: row;
        gap: 10px;

        & > * {
            padding: 10px;
        }
    }
}

@media screen and (min-width: 600px) {
    .lunch__recipe1 table {
        align-self: flex-start;
    }
}